
.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shear style  */
.primary-color1{
    color: rgba(7, 2, 17, 0.6);
}




main{
    max-width: 1320px;
    margin:0 auto;
}

/* banner section  */
.banner{
    max-width: 1320px;
    height: 600px;
    background-image: linear-gradient(180deg , rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)) , url(../images/Banner\ Image.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    border-radius: 16px;

}
.party-subtitle{
    color: white;
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
}
.party-title{
    color: white;
    font-size: 72px;
    text-align: center;
    margin-top: 0;
}

/* offer section  */
.offer{
    width: 800px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
}
.offer-title{
    text-align: center;
    font-size: 88px;
    color: red;
    font-weight: 800px;
    margin-bottom: 48px;
}
.offer-description{
    text-align: center;
    font-size: 24px;
    color: red;
    font-weight: 200px;
    margin-top: 0;
    margin-bottom: 16px;
}
.offer-subtitle{
    text-align: center;
    font-size: 48px;
    font-weight: 700px;
    margin-top: 0;
}

/* midnight party  */
.midnight-party{
    background-image:linear-gradient(90deg,rgba(7, 2, 17, 1),rgba(7, 2, 17, 0)), url(../images/Vectorrr.png);
    display: flex;
    height: 600px;
    padding-left: 126px;
    padding-right: 138px;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 40px;
    border-radius: 16px;
    margin-bottom: 120px;
}
.midnight-party-text{
    padding-top: 126px;
}
.midnight-party-photo{
    padding-top: 70px;
}
.midnight-title{
    font-size: 70px;
    color: white;
    font-weight: 700px;
    margin-bottom: 0;
}
.midnight-description{
    font-size: 18px;
    color: white;
    opacity: 0.8;
}
.midnight-link> a{
    list-style: none;
    color: white;
    text-decoration: none;
    display: flex;
    margin-top: 50px;
    margin-left: 35px;
    font-size: 20px;
    font-weight: 700px;
}

/* Hotel place  */
.hotel-place{
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-weight: 600px;
    gap: 30px;
    border-radius: 16px;
    background: linear-gradient(180deg,rgba(255, 0, 0, .1),rgba(255, 0, 0, 0));
    margin-bottom: 120px;
}
.place-color{
    color: red;
}

.btn-container> .btn{
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
}

/* new offer section  */
.coming-offer{
    display: flex;
    gap: 60px;
    height: 463px;
    margin-bottom: 300px;
}
.offer-colume1{
    margin-top: 104px;
    max-width: 440px;
}
.new-offer-subtitle{
    font-size: 24px;
    font-weight: 500px;
    color: red;
    margin: 0;

}
.new-offer-title{
    font-size: 48px;
    font-weight: 700px;
    margin: 20px 0;
}
.offer-colume3>.new-offer-title{
    color: red;
}
.offer-colume2> img{
    /* height: 463px; */
    /* padding: 20px; */
    
}
.offer-colume2{
    height: 463px;
    width: 463px;
    border: 15px solid red;
    border-radius: 300px;
    background-image: url(../images/Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
}
.offer-colume3{
    max-width: 250px;
    margin-top: 1px;
}

/* holidays sale section  */
.holiday-sale{
    margin-bottom: 120px;
}
.sale-text{
    text-align: center;
    padding: 0 135px;

}
.sale-text-subtitle{
    font-size: 24px;
    font-weight: 500px;
}
.sale-text-title{
    font-size: 72px;
    font-weight: 700px;
    margin: 20px;
}
.sale-text-description{
    font-size: 20px;
}
.sale-photo{
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    margin-top: 100px;
    background-position: top 435px left, right bottom;
    display: flex;
    gap: 175px;
}
.sale-photo1{
    width: 795px;
    height: 660px;
    
}
.sale-photo2{
    height: 305px;
    width: 305px;
    margin-top: 77px;
}

/* best gift section  */
.best-gift{
    margin-bottom: 120px;
}
.gift-subtitle1{
    color: red;
    font-size: 24px;
}
.gift-title{
    font-size: 48px;
    padding: 0;
    margin: 20px 0;
}


/* newsletter  */
.newsletter{
    text-align: center;
    padding:80px 225px;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius:15px;
}
.newsletter>img{
    width: 150px;
    height: 150px;
}
.newsletter-title{
    font-size: 48px;
    font-weight: 700px;
    margin: 20px;
}
.btn-box{
    text-align: center;
}
.in-btn{
    padding: 24px 75px;
    border: none;
    border-radius: 50px 0 0 50px;
    font-size: 20px;
}
.sub-btn{
    padding: 24px 56px;
    margin: 0;
    border: none;
    border-radius:0 50px 50px 0 ;
    background-color: red;
    color: white;
    font-size: 20px;
}