
.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}




main{
    max-width: 1320px;
    margin:0 auto;
}

/* banner section  */
.banner{
    max-width: 1320px;
    height: 600px;
    background-image: linear-gradient(180deg , rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)) , url(../images/Banner\ Image.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    border-radius: 16px;

}
.party-subtitle{
    color: white;
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
}
.party-title{
    color: white;
    font-size: 72px;
    text-align: center;
    margin-top: 0;
}

/* offer section  */
.offer{
    width: 800px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
}
.offer-title{
    text-align: center;
    font-size: 88px;
    color: red;
    font-weight: 800px;
    margin-bottom: 48px;
}
.offer-description{
    text-align: center;
    font-size: 24px;
    color: red;
    font-weight: 200px;
    margin-top: 0;
    margin-bottom: 16px;
}
.offer-subtitle{
    text-align: center;
    font-size: 48px;
    font-weight: 700px;
    margin-top: 0;
}

/* midnight party  */
.midnight-party{
    background-image:linear-gradient(90deg,rgba(7, 2, 17, 1),rgba(7, 2, 17, 0)), url(../images/Vectorrr.png);
    display: flex;
    height: 600px;
    padding-left: 126px;
    padding-right: 138px;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 40px;
    border-radius: 16px;
    margin-bottom: 120px;
}
.midnight-party-text{
    padding-top: 126px;
}
.midnight-party-photo{
    padding-top: 70px;
}
.midnight-title{
    font-size: 70px;
    color: white;
    font-weight: 700px;
    margin-bottom: 0;
}
.midnight-description{
    font-size: 18px;
    color: white;
    opacity: 0.8;
}
.midnight-link> a{
    list-style: none;
    color: white;
    text-decoration: none;
    display: flex;
    margin-top: 50px;
    margin-left: 35px;
    font-size: 20px;
    font-weight: 700px;
}